<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @order_info.id %></h1>
    <%= @order %>
    <p>
      You have successfully ordered from Jungle!
      Your total is $ <%= @order_info.total %>.<br>
    </p>
    <p>
      Your items are :
      <% @order_info.line_items.each do |item|   %>
      <p>
          <h4><%= item.product.name %></h4>
          <br>
          <p><%= item.product.description %></p>
          <p>Number ordered: <%= item.quantity %></p>
        <p>
         Individual Item cost: $<%= item.product.price %>
       </p>
        <p>
         Total Item cost: $<%= item.product.price * item.quantity %>
       </p>
     </p>
      <% end %>
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>
